<div>

<h1>Foods List:</h1>

<table style="border: 1px solid black; width:100%;">
	<tr>
		<th style="text-align: left;">Food</th>
		<th style="text-align: left;">Serving Size</th>
		<th style="text-align: left;">Protein</th>
		<th style="text-align: left;">Carbs</th>
		<th style="text-align: left;">Fat</th>
		<th style="text-align: left;">Calories</th>
	</tr>
	<%@foods.each do |food| %>
	<tr>
		
		<td><%=food.name%></td>
		<td><%=food.serving_size%></td>
		<td><%=food.protein%></td>
		<td><%=food.carbs%></td>
		<td><%=food.fat%></td>
		<td><%=food.kcal%></td>
		
	</tr>
	<% end %> 
</table>

<br>
<br>

<form action="/users/<%=@user.id%>" method="get">
	<input type="submit" id="submit" name="Homepage" value="My Account">
</form>


</div>